@import "../../Styles/colors";

.login-button{
  width: 100%;
  margin-top: 4rem !important;
  height: 4.75rem;
}

.login-page {
  height: 100vh;
  align-items: stretch;

  .image-section {
    flex: 1;
    height: 100%;
    //width: 100%;
    display: flex;

    img {
      width: 77% !important;
      height: auto;
      margin: auto;

    }
  }

  .form-section {
    flex: 1;

    display: flex;
    background-color: #fff;
    background-image: url("../../Assets/Images/Login/background.svg");

    .form-container {
      padding: 32px 40px;
      background-color: white;
      width: 77%;
      height: auto;
      margin: auto;
      text-align: left;
      border-radius: 10px;

      .title{
        margin-bottom: 2rem;
      }

      input{
        background-color: $primary-input-background-color;
        height: 4.75rem;
      }

      .form-item{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }

  .css-1hbmzt3-MuiGrid-root {
    height: 100%;
  }


}

.lang-select{
  width: 10rem;
  font-size: 2rem;
}