@import "../../../Styles/Helpers/mixins";

.layout-sidebar {
    width: 100%;
    display: block;
    > div {

        // * {
        //     color: #fff;
        // }

        .css-cveggr-MuiListItemIcon-root {
            min-width: 33px;
        }

        .sidebar-content {
            display: flex;
            width: 25rem;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            *{font-size: 2rem !important;}

        }

        .app-logo {
            display: flex;
            align-items: center;
            gap: 8px;
            // justify-content: center;
            padding-bottom: 12px;
            padding-left: 16px;
            padding-top: 24px;
        }
    }
}

.menu-icon{
    position: absolute;
    left: 16px;
}

@include media-query(tablet-and-mobile){

}