$primary-color: #1F7BF4;
$black-font-color: #212224;
$grey-color:#F5F5F5;


//fonts
$primary-font-color: #212224;
$secondary-font-color: $primary-color;

//buttons
$primary-button-background-color:$primary-color;

//inputs
$primary-input-background-color:$grey-color;