@import "../../Styles/Helpers/mixins";


.home-container{
    margin-top: 5rem;
    border: 1px solid #00000026;
    border-radius: 8px;
    box-shadow: 1.5px 2.6px 10px 0px #7777771A;
    padding-left: 2rem;
    padding-right: 2rem;
  
    padding-top: 3rem;
    margin-right: 3rem;

    .table-header{
        display: flex;
        justify-content: space-between;
    }
}


.home-page{
    margin-inline:6% ;
}

@include media-query(tablet-and-mobile){
    .empty-image{
        width: 70vw;
        max-width: 350px;
    }
}