.navbar{
    &.css-1q9ww7s-MuiPaper-root-MuiAppBar-root
    {
        box-shadow:none
    }
    background-color: #c6c7f7;

    .css-1q39md6-MuiButtonBase-root-MuiButton-root{
        color: #6162be;
    }
}